<div class="listings-bg-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/162553/keys-workshop-mechanic-tools-162553.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
  <div class="listings-container">
    <h1>List of Tools</h1>

    <div class="row listings-row">
      <% @listings.each do |listing| %>
      <div class="listings-card">

        <%= link_to "Rent", listing, class: "listings-card-btn" %>

        <div class="listings-card-category">
          <%= listing.category %>
        </div>
        <div class="listings-card-price">
          $<%= listing.price %>
        </div>
        <div class="listings-card-description">
          <%= listing.description %>
        </div>
        <div class="listings-card-location">
          <%= listing.user.location %>
        </div>
        <% if listing.photo %>
        <div class="listing-card-">
          <%= cl_image_tag listing.photo, height: 150, width: 150, crop: :fill %>
        </div>photo
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
