<div class="listings-bg-img">

  <h1>This is a testing page boiyo</h1>

  <%= @listing.category %>
  <%= @listing.description %>
  <%= @listing.price %>

  <% if policy(@listing).update? %>
  <div class="edit-btn btn btn-danger">
    Edit
  </div>
  <% end %>

  <div class="edit-form">
    <%= simple_form_for(@listing) do |f| %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.submit %>
    <% end %>

  </div>
</div>

