<h2>My Listings</h2>

<% @user.listings.each do |listing| %>
  <p><%= listing.category %> - <%= listing.description %></p>
<% end %>

<%= simple_form_for([@user, Listing.new]) do |f| %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>

