<div class="user-background" style="background-image: url('https://images.pexels.com/photos/175039/pexels-photo-175039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">

  <div class="main-container">
    <div class="tabs">
      <a href="#" class="tab tab-first active">Profile</a>
      <a href="#" class="tab tab-second">Advertised Tools</a>
      <a href="#" class="tab tab-last">Bookings</a>
    </div>

    <div class="user-details">
      <div class="user-details-top">
        <h3><%= @user.name %>'s Profile</h3>
        <p><%= link_to "Edit my Details", edit_user_registration_path, class: "btn btn-danger" %></p>
      </div>
      <p>Location: <%= @user.location %></p>
    </div>

    <div class="user-my-listings hidden">
      <div class="add-new-tool">
        <a href="#" class="new-listing-btn btn btn-danger">Add a new tool</a>
      </div>
      <div class="listings-row">
        <% if @user.listings.nil? %>
        <div class="listings-card">
          <h3>You have no tools advertised yet.</h3>
        </div>
        <% else %>
        <% @user.listings.each do |listing| %>
        <div class="listings-card">

          <%= link_to "Edit", listing_path(listing) + '#edit', class: "listings-card-btn" %>

          <div class="listings-card-category">
            <%= listing.category.capitalize %>
          </div>
          <div class="listings-card-price">
            €<%= listing.price %> per hour
          </div>
          <div class="listings-card-description">
            <%= listing.description.capitalize.first(50) %>...
          </div>
          <div class="listings-card-location">
            <% if listing.available %>
            <p>AVAILABLE</p>
            <% else %>
            <p>BOOKED</p>
            <% end %>
          </div>
          <% if listing.photo.url.nil? %>
          <img src="https://images.pexels.com/photos/1409215/pexels-photo-1409215.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="tool" class="listing-card-photo">
          <% else %>
          <%= cl_image_tag listing.photo, height: 150, width: 150, crop: :fill, class: "listing-card-photo" %>
          <% end %>
          <div class="delete-listing">
            <%= link_to 'Delete', listing_path(listing),
            method: :delete, class: 'delete-listing-btn btn btn-warning',
            data: { confirm: "Are you sure?" } %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="user-listings-form hidden">
      <div>
        <h3>Add a new listing</h3>

        <%= simple_form_for(Listing.new) do |f| %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <a href="#" class="cancel-new btn btn-primary">Cancel</a>
        <%= f.submit "Add", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>

    <div class="user-my-bookings hidden">
      <div class="add-new-tool">
        <h2 class="btn btn-danger">Please arrange payment directly with the other party.</h2>
      </div>
      <div class="listings-row">
        <% if @user.bookings.nil? %>
        <div class="listings-card">
          <h3>You have no tools advertised yet.</h3>
        </div>
        <% else %>
        <% @user.bookings.each do |booking| %>
        <div class="listings-card">
            <% if current_user != booking.listing.user %>
            <div class="listings-card-category">
              BOOKED BY YOU
            </div>
            <% end %>
          <div class="listings-card-description">
            <%= booking.listing.category.capitalize %>
          </div>
          <div class="listings-card-location">
            <%= booking.status.upcase %>
          </div>
          <div class="booking-status">
            <% if current_user == booking.listing.user %>
            <%= form_for(booking) do |f| %>
            <%= f.hidden_field :status, value: 'confirmed' %>
            <%= f.submit :confirm, class: 'status-btn btn btn-success' %>
            <% end %>
            <%= form_for(booking) do |f| %>
            <%= f.hidden_field :status, value: 'declined' %>
            <%= f.submit :decline, class: 'status-btn btn btn-danger' %>
            <% end %>
            <% end %>
          </div>
          <div class="listings-card-price">
            €<%= booking.total_price.to_f.round(2) %>
          </div>
          <div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
