<div class="user-background" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/834892/pexels-photo-834892.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="main-container">
    <div class="users-container">
      <div class="user-box-one">
        <div class="user-details">
          <h3>My Details</h3>

          <p>Name: <%= @user.name %></p>
          <p>Location: <%= @user.location %></p>

          <%= link_to "Edit my Details", edit_user_registration_path %>
        </div>

      </div>
      <div class="user-box-two">

        <h3>Add a new listing</h3>
          <div class="new-listing-form">
          <%= simple_form_for(Listing.new) do |f| %>
          <%= f.input :category %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.submit "Add"%>
          <% end %>
        </div>

      </div>
    </div>

    <div class="user-booking-container">
      <h3>My Bookings</h3>
       <div class="user-listings">
          <h3>My Listings</h3>

          <% @user.listings.each do |listing| %>
              <p><%= listing.category %> - <%= listing.description %></p>
              <%= link_to "Edit", edit_listing_path(listing) %>
          <% end %>
        </div>
    </div>
  </div>

</div>


